<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OscTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>26B9D5502130F41400C1B9E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26B9D5642130F41800C1B9E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26B9D56F2130F41800C1B9E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
